<!DOCTYPE html>
<html lang="pt-br" data-theme="dark">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta codigoSecreto="475481518">

    <title> Birita Shop </title>

    <link th:href="@{/assets/favicon.ico}" rel="icon" type="image/x-icon" />
    <link th:href="@{/assets/w3.css}" rel="stylesheet" />
    <link th:href="@{/assets/pico.min.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body>

    <div class="w3-bar w3-black w3-xlarge">
        <img src="/assets/favicon.ico" height="50" width="50" class="w3-item w3-left">
        <div class="dropdown">
            <button class="dropbtn w3-purple w3-xlarge w3-bar-item">≡</button>
            <div class="dropdown-content w3-padding-top-48 w3-transparent">
                <div class="w3-row">

                    <div class="w3-col s3 w3-purple">
                        <h3 class="w3-black">Cliente</h3>
                        <a href="/cliente/adicionaCliente" class="w3-col">Adicionar</a>
                        <a href="/cliente/listarCliente" class="w3-col">Listar</a>
                    </div>

                    <div class="w3-col s3 w3-purple">
                        <h3 class="w3-black">Produto</h3>
                        <a href="/produto/adicionarProduto" class="w3-col">Adicionar</a>
                        <a href="/produto/listarProduto" class="w3-col">Listar</a>
                    </div>

                    <div class="w3-col s3 w3-purple">
                        <h3 class="w3-black">Dependente</h3>
                        <a href="/dependente/adicionarDependente" class="w3-col">Adicionar</a>
                        <a href="/dependente/listarDependente" class="w3-col">Listar</a>
                    </div>

                    <div class="w3-col s3 w3-purple">
                        <h3 class="w3-black">Pedido</h3>
                        <a href="/pedido/adicionarPedido" class="w3-col">Adicionar</a>
                        <a href="/pedido/listarPedido" class="w3-col">Listar</a>
                    </div>

                </div>
            </div>
        </div>

        <a href="/" class="w3-purple w3-bar-item w3-button w3-mobile "> BiritaShop </a>
        <a href="/public/contato" class="w3-bar-item w3-button w3-mobile w3-right"> Contato </a>
        <a href="/public/sobre" class="w3-bar-item w3-button w3-mobile w3-right"> Sobre </a>

    </div>

    <div style="padding:0 130px;">
        <h2>Editar pedido</h2>
        <form id="pedidoForm" th:action="@{/pedido/editarPedido/{id}(id=${pedido.id})}" method="post" th:object="${pedido}">
            <label for="nomeCliente">Nome do cliente:</label>
            <input type="text" id="nomeCliente" name="nomeCliente" field="*{nomeCliente}" required>
            <br>
            <div class="grid">
                <label for="produtoNome">ID do produto:</label>
                <input type="text" id="idProduto" name="idProduto" field="*{idProduto}" required>
                <br>
                <label for="qtd">Quantidade:</label>
                <input type="number" id="qtd" name="qtd" min="1" field="*{qtd}" required>
                <br>
                <label for="qtd">Preço:</label>
                <input type="number" id="preco" name="preco" min="1" field="*{preco}" required>
                <br>
            </div>
            <div class="row">
                <br>
                <legend class="col-form-label pt-0">Informe o método de pagamento * </legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="pagamento" id="dinheiro" value="Dinheiro"
                            field="*{pagamento}">
                        <label class="form-check-label" for="dinheiro">
                            Dinheiro
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="pagamento" id="cartao" value="Cartao"
                            field="*{pagamento}">
                        <label class="form-check-label" for="cartao">
                            Cartão de crédito
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="pagamento" id="pix" value="Pix"
                            field="*{pagamento}">
                        <label class="form-check-label" for="pix">
                            Pix
                        </label>
                    </div>
                </div>
            </div>

            <br>

            <button class="btn btn-primary contrast" type="submit">Adicionar</button>
            <br>
            <button class="btn btn-secondary secondary" type="reset">Limpar campos</button>

            <p>* Todos os campos são obrigatórios</p>
        </form>
    </div>

</body>

</html>