<!DOCTYPE html>
<html lang="pt-br" data-theme="light">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta codigoSecreto="475481518">

    <title> Contato </title>

    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="/assets/w3.css" />
    <link rel="stylesheet" href="/assets/pico.min.css" />

</head>

<body>

    <div class="w3-bar w3-black w3-xlarge">

        <a href="/" class="w3-blue w3-bar-item w3-button w3-mobile "> Inicio </a>
        <a href="/clientes/adicionar" class="w3-bar-item w3-button w3-mobile"> Adicionar Pessoa </a>
        <a href="/listar" class="w3-bar-item w3-button w3-mobile"> Listar Pessoa </a>
        <a th:href="@{/public/contato.html}" class="w3-bar-item w3-button w3-mobile w3-right"> Contato </a> 
        <a th:href="@{/public/sobre.html}" class="w3-bar-item w3-button w3-mobile w3-right"> Sobre o Site </a> 
        <a th:href="@{/public/noticias.html}" class="w3-bar-item w3-button w3-mobile w3-right"> Notícias </a>      

    </div>

    <div style="padding:0 16px;">

        <h1> <a href=" mailto:gilwan.santos@alunos.ufersa.edu.br"> Me envie um e-mail! </a> </h1>

    </div>

</body>

</html>