<!DOCTYPE html>
<html lang="pt-br" data-theme="dark">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta codigoSecreto="475481518">

    <title> Birita Shop </title>

    <link th:href="@{/assets/favicon.ico}" rel="icon" type="image/x-icon" />
    <link th:href="@{/assets/w3.css}" rel="stylesheet" />
    <link th:href="@{/assets/pico.min.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <div class="hero" data-theme="dark">
        <nav class="container-fluid">
            <ul>
                <li>
                    <a href="./" class="contrast" onclick="event.preventDefault()"><strong>BiritaShop</strong></a>
                </li>
            </ul>
            <ul class="navbar-right">
                <li>
                    <details role="list" dir="rtl">
                        <summary aria-haspopup="listbox" role="link" class="contrast">Cliente</summary>
                        <ul role="listbox">
                            <a href="/cliente/adicionaCliente" class="w3-col">Adicionar</a>
                            <a href="/cliente/listarCliente" class="w3-col">Listar</a>
                        </ul>
                    </details>
                </li>
                <li>
                    <details role="list" dir="rtl">
                        <summary aria-haspopup="listbox" role="link" class="contrast">Produto</summary>
                        <ul role="listbox">
                            <a href="/produto/adicionarProduto" class="w3-col">Adicionar</a>
                            <a href="/produto/listarProduto" class="w3-col">Listar</a>
                        </ul>
                    </details>
                </li>
                <li>
                    <details role="list" dir="rtl">
                        <summary aria-haspopup="listbox" role="link" class="contrast">Dependente</summary>
                        <ul role="listbox">
                            <a href="/dependente/adicionarDependente" class="w3-col">Adicionar</a>
                            <a href="/dependente/listarDependente" class="w3-col">Listar</a>
                        </ul>
                    </details>
                </li>
                <li>
                    <details role="list" dir="rtl">
                        <summary aria-haspopup="listbox" role="link" class="contrast">Pedido</summary>
                        <ul role="listbox">
                            <a href="/pedido/adicionarPedido" class="w3-col">Adicionar</a>
                            <a href="/pedido/listarPedido" class="w3-col">Listar</a>
                        </ul>
                    </details>
                </li>
                <li>
                    <form style="padding:0 10px;" class="navbar-search" action="/produto/pesquisarProduto" method="post">
                        <input type="search" id="search" name="pesquisar" placeholder="Pesquisar"
                            class="navbar-search-input">
                    </form>
                </li>
                <li>
                    <ul class="navbar-left">
                        <li class="navbar-item">
                            <a href="/public/contato" class="navbar-link">Contato</a>
                        </li>
                        <li class="navbar-item">
                            <a href="/public/sobre" class="navbar-link">Sobre</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>    

    <center>

        <h5>

        </h5>
        <img src="assets/beer.jpeg" alt="beer" title="Beer">

    </center>



</body>

</html>