@use '../config' as *;
// --- ↑ update this path if you're importing CodyFrame as npm module

/* -------------------------------- 

File#: _1_stacking-cards
Title: Stacking Cards
Descr: Cards stack effect on vertical scrolling
Usage: codyhouse.co/license

-------------------------------- */

.stack-cards {
  --stack-cards-gap: var(--space-sm); // cards gap on scrolling
  --stack-cards-item-ratio: 2/1;
}

.stack-cards__item {
  position: relative; // fallback for browsers not supporting sticky position
  position: sticky;
  top: var(--space-md); // cards top position when they get fixed
  height: 0;
  padding-bottom: calc(100%/(var(--stack-cards-item-ratio)));
  transform-origin: center top;

  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}