<!DOCTYPE html>
<html lang="pt-br" data-theme="dark">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta codigoSecreto="475481518">

    <title> Birita Shop </title>

    <link th:href="@{/assets/favicon.ico}" rel="icon" type="image/x-icon" />
    <link th:href="@{/assets/w3.css}" rel="stylesheet" />
    <link th:href="@{/assets/pico.min.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body>

    <div class="w3-bar w3-black w3-xlarge">
        <img src="/assets/favicon.ico" height="50" width="50" class="w3-item w3-left">
        <div class="dropdown">
            <button class="dropbtn w3-purple w3-xlarge w3-bar-item">≡</button>
            <div class="dropdown-content w3-padding-top-48 w3-transparent">
                <div class="w3-row">

                    <div class="w3-col s3 w3-purple">
                        <h3 class="w3-black">Cliente</h3>
                        <a href="/cliente/adicionaCliente" class="w3-col">Adicionar</a>
                        <a href="/cliente/listarCliente" class="w3-col">Listar</a>
                    </div>

                    <div class="w3-col s3 w3-purple">
                        <h3 class="w3-black">Produto</h3>
                        <a href="/produto/adicionarProduto" class="w3-col">Adicionar</a>
                        <a href="/produto/listarProduto" class="w3-col">Listar</a>
                    </div>

                    <div class="w3-col s3 w3-purple">
                        <h3 class="w3-black">Dependente</h3>
                        <a href="/dependente/adicionarDependente" class="w3-col">Adicionar</a>
                        <a href="/dependente/listarDependente" class="w3-col">Listar</a>
                    </div>

                    <div class="w3-col s3 w3-purple">
                        <h3 class="w3-black">Pedido</h3>
                        <a href="/pedido/adicionarPedido" class="w3-col">Adicionar</a>
                        <a href="/pedido/listarPedido" class="w3-col">Listar</a>
                    </div>

                </div>
            </div>
        </div>

        <a href="/" class="w3-purple w3-bar-item w3-button w3-mobile "> BiritaShop </a>
        <a href="/public/contato" class="w3-bar-item w3-button w3-mobile w3-right"> Contato </a>
        <a href="/public/sobre" class="w3-bar-item w3-button w3-mobile w3-right"> Sobre </a>

    </div>

    <div class="grid">
        <div style="padding:0 16px;">
            <form th:action="@{/cliente/editarCliente/{id}(id=${cliente.id})}" method="POST" th:object="${cliente}">
                <h1>Editar as informações do cliente</h1>
                <div class="grid">
                    <div>
                        <label for="nomeCompleto">Nome Completo * </label>
                        <input type="text" class="form-control" id="nomeCompleto" name="nomeCompleto"
                            placeholder="Nome Completo" th:field="*{nomeCompleto}" required>
                    </div>

                    <div>
                        <label for="telefone">Telefone*</label>
                        <input type="tel" class="form-control" id="telefone" name="telefone"
                            placeholder="(__) ____-____" th:field="*{telefone}" required>
                    </div>

                </div>

                <div class="grid">
                    <div>
                        <label for="cidade">Cidade*</label>
                        <input type="text" class="form-control" id="cidade" name="cidade" placeholder="Cidade"
                            th:field="*{cidade}" required>
                    </div>

                    <div>
                        <label for="cep">CEP*</label>
                        <input type="text" class="form-control" id="cep" name="CEP" placeholder="_____-___"
                            th:field="*{CEP}" required>
                    </div>
                </div>

                <div class="row">
                    <legend class="col-form-label pt-0">Informe o gênero*</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="genero" id="masculino" value="Masculino"
                                th:field="*{genero}">
                            <label class="form-check-label" for="masculino">
                                Masculino
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="genero" id="feminino" value="Feminino"
                                th:field="*{genero}">
                            <label class="form-check-label" for="feminino">
                                Feminino
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="genero" id="naoInformado"
                                value="Não Informado" th:field="*{genero}">
                            <label class="form-check-label" for="naoInformado">
                                Não informado
                            </label>
                        </div>
                    </div>
                </div>

                <br>

                <button class="btn btn-primary" type="submit">Salvar alterações</button>
                <br>
                <button class="btn btn-secondary" type="reset">Limpar campos</button>

                <p>*Todos os campos são obrigatórios</p>
            </form>
        </div>
    </div>
</body>

</html>