<!DOCTYPE html>
<html lang="pt-br" data-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Birita Shop</title>

    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

    <link href="/assets/css/styles.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/">Birita Shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Cliente</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/cliente/adicionaCliente">Adicionar</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" href="/cliente/listarCliente">Listar</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Produto</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/produto/adicionarProduto">Adicionar</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" href="/produto/listarProduto">Listar</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Pedido</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/pedido/adicionarPedido">Adicionar</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" href="/pedido/listarPedido">Listar</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Dependente</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/dependente/adicionarDependente">Adicionar</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" href="/dependente/listarDependente">Listar</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Pesquisar..." aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
                <ul> </ul>
                <form class="d-flex">
                    <button class="btn btn-outline-light" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Carinho
                        <span class="badge bg-light text-black ms-1 rounded-pill">0</span>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">BiritaShop</h1>
                <p class="lead fw-normal text-white-50 mb-0">Descubra o sabor que eleva seu brinde!</p>
            </div>
        </div>
    </header>
 
    <div style="padding:0 16px;">
      <h1>Lista dos clientes cadastrados</h1>
      <div class="grid">
          <table class="table">
              <thead>
                  <tr>
                      <th scope="col">Nome</th>
                      <th scope="col">Telefone</th>
                      <th scope="col">Cidade</th>
                      <th scope="col">CEP</th>
                      <th scope="col">Gênero</th>
                      <th scope="col">Editar</th>
                      <th scope="col">Remover</th>
                  </tr>
              </thead>
              <tbody>
                  <tr th:each="cliente: ${clientes}">
                      <td th:text="${cliente.nomeCompleto}"></td>
                      <td>
                          <a th:href="'https://api.whatsapp.com/send?phone=' + ${cliente.telefone} + '&text=Olá'"
                              target="_blank" th:text="${cliente.telefone}">Telefone</a>
                      </td>
                      <td th:text="${cliente.cidade}"></td>
                      <td th:text="${cliente.cep}"></td>
                      <td th:text="${cliente.genero}"></td>
                      <td>
                          <a th:href="@{editar/{id}(id=${cliente.id})}">Editar</a>
                      </td>
                      <td>
                          <a th:href="@{remover/{id}(id=${cliente.id})}">Remover</a>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>  

    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Birita Shop 2023
            <li class="m-0 text-center text-white"><a class="nav-link active" aria-current="page" href="/public/contato">Contato</a></li>
            <li class="m-0 text-center text-white"><a class="nav-link" href="/public/sobre">Sobre</a></li>
            </p>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="js/scripts.js"></script>
</body>

</html>