<!DOCTYPE html>
<html lang="pt-br" data-theme="dark">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta codigoSecreto="475481518">
  
    <title> Birita Shop </title>
  
    <link th:href="@{/assets/favicon.ico}" rel="icon" type="image/x-icon" />
    <link th:href="@{/assets/w3.css}" rel="stylesheet" />
    <link th:href="@{/assets/pico.min.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  
</head>

<body>

    <div class="w3-bar w3-black w3-xlarge">
        <img src="/assets/favicon.ico" height="50" width="50" class="w3-item w3-left">
        <div class="dropdown">
            <button class="dropbtn w3-purple w3-xlarge w3-bar-item">≡</button>
            <div class="dropdown-content w3-padding-top-48 w3-transparent">
                <div class="row">

                    <div class="column w3-purple">
                        <h3>Cliente</h3>
                        <a href="/cliente/adicionaCliente">Adicionar</a>
                        <a href="/cliente/listarCliente">Listar</a>
                    </div>

                    <div class="column w3-purple">
                        <h3>Produto</h3>
                        <a href="/produto/adicionarProduto">Adicionar</a>
                        <a href="/produto/listarProduto">Listar</a>
                    </div>

                    <div class="column w3-purple">
                        <h3>Dependente</h3>
                        <a href="/dependente/adicionarDependente">Adicionar</a>
                        <a href="/dependente/listarDependente">Listar</a>
                    </div>

                </div>
            </div>
        </div>

        <a href="/" class="w3-purple w3-bar-item w3-button w3-mobile "> BiritaShop </a>
        <a href="/public/contato" class="w3-bar-item w3-button w3-mobile w3-right"> Contato </a>
        <a href="/public/sobre" class="w3-bar-item w3-button w3-mobile w3-right"> Sobre </a>

    </div>

    <div style="padding:0 16px;">
        <h1>Lista dos clientes cadastrados</h1>
        <div class="grid">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Cidade</th>
                        <th scope="col">CEP</th>
                        <th scope="col">Gênero</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Remover</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="cliente: ${clientes}">
                        <th scope="row" th:text="${produto.id}"></th>
                        <td th:text="${cliente.nome}"></td>
                        <td th:text="${#temporals.format(produto.dataCadastro, 'dd/MM/yyyy')}"></td>
                        <td>
                            <font color="blue"> <a th:href="@{editar/{id}(id=${produto.id})}">Editar</a>
                        </td>
                        <td>
                            <font color="blue"> <a th:href="@{remover/{id}(id=${produto.id})}">Remover</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>