<!DOCTYPE html>
<html lang="pt-br" data-theme="dark">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta codigoSecreto="475481518">

    <title> Sobre este site! </title>
    
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="/assets/w3.css" />
    <link rel="stylesheet" href="/assets/pico.min.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
</head>

<body>

    <div class="w3-bar w3-black w3-xlarge ">

        <a href="/" class="w3-purple w3-bar-item w3-button w3-mobile "> Inicio </a>

        <div class="w3-dropdown-hover">
            <button class="w3-button">Cliente</button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-bar-item-block">
              <a href="/cliente/adicionaCliente" class="w3-bar-item w3-button">Adicionar</a>
              <a href="/cliente/listarCliente" class="w3-bar-item w3-button">Listar</a>
              <a href="/cliente/editarCliente" class="w3-bar-item w3-button">Editar</a>
            </div>
        </div>

        <div class="w3-dropdown-hover">
            <button class="w3-button">Produto</button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-bar-item-block">
              <a href="/cliente/adicionaCliente" class="w3-bar-item w3-button">Adicionar</a>
              <a href="/cliente/listarCliente" class="w3-bar-item w3-button">Listar</a>
              <a href="/cliente/editarCliente" class="w3-bar-item w3-button">Editar</a>
            </div>
        </div>

        <a href="/public/contato" class="w3-bar-item w3-button w3-mobile w3-right"> Contato </a> 
        <a href="/public/sobre" class="w3-bar-item w3-button w3-mobile w3-right"> Sobre </a>

    </div>

    <div style="padding:0 16px;">

        <h1> Esse site é sobre a disciplina Programação WEB de 2022.2 da UFERSA Angicos! </h1>

    </div>

</body>

</html>